<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Mars Scraping</title>
  </head>
  <!-- body -->
  <body>
      <div class="container-fluid">
          <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="mars_fact">
                    <h2><strong>Latest Mars News</strong></h2>
                    <p class="mars_title">
                        <strong>{{mars_dictionary.mars_news['news_title']}}</strong>
                    </p>
                </div>
            </div>
          </div>

      </div>
  </body>